:root {
  --background-color: white;
  --text-color: black;
  --input-color: rgb(255, 255, 255);
  --btn-color: #006bff;
  --secondary-color: #F5F7F8;
}

[data-theme="dark"] {
  --background-color: #000a2a;
  --text-color: rgb(241, 241, 241);
  --input-color: #000e22;
  --secondary-color: #001a3d;
}

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf), format(ttf);
}

* {
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  font-family: "poppins";
  background-color: var(--background-color);
  color: var(--text-color);
}

.main {
  height: 82vh;
  /* display: grid;
  align-items: center;
  text-align: center; */
  text-align: center;
  padding-top: 150px;
}
.main svg {
  margin: 20px auto;
  padding: 0;
  font-size: 90px;
}
.main h3 {
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
}
.footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  display: grid;
  align-items: center;
  height: 50px;
}
