:root {
  --background-color: white;
  --text-color: black;
  --input-color: rgb(255, 255, 255);
  --btn-color: #006bff;
  --second-btn: #ececec;
  --secondary-color: #f4f4f4;
  --border: #b6b6b6;
}

[data-theme="dark"] {
  --background-color: #000a2a;
  --text-color: rgb(241, 241, 241);
  --input-color: #000e22;
  --second-btn: #001d43;
  --secondary-color: #001a3d;
  --border: #002d67;
}

@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf), format(ttf);
}

* {
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  font-family: "poppins";
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  /* overflow: hidden; */
}
.footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  display: grid;
  align-items: center;
  height: 50px;
}
